* {  /* reset all margins/padding */
	margin:  0;
	padding: 0;
}

:root {
	--nav-bar-height: 5vh;
	--color-primary:   black;
	--color-secondary: lightblue;
	--color-tertiary:  red;
}


html, body {
	background-color: var(--color-secondary);
	font-family:  sans-serif;
	overflow: auto;
}

#navbar {
	overflow: hidden;
}

.navbar {

	overflow: hidden;
	width: 100%; 
	height: var(--nav-bar-height);

	text-align: right;
	background-color: var(--color-primary);
	position: fixed; 
	z-index: 1499; 
	
	list-style-type: none; /* gets rid of bullet points */
	
}

.navbar-button {
	float: right;
	text-align: right;
	display: inline-block; 	/* horizontal list */
	padding-left:  1%;  /* 100% / (2 * buttons + front + end) */
	padding-right: 15px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: calc(var(--nav-bar-height) - 1vh);
}

.navbar-button a, .navbar-button a:visited {
	text-decoration: none;
	color: white;
}

.navbar-button a:hover {
	color: var(--color-tertiary);
}

.navbar li:first-child {

	display: inline-block;
	color: var(--color-tertiary);
	text-align: left;

	padding-left: 10px;
	float: left;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	font-size: calc(var(--nav-bar-height) - 1vh);
	letter-spacing: 2px;
	
}

/* ////////////////////// */

#content {
	padding-top: var(--nav-bar-height);
	overflow: auto;
}

.text {
	font-size: 40px;
}



#music {

}

.music-1 {
	width: 60%;
	float: left;
}

.soundcloud-embed {
	float: right;
	width:  40%;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
  height: calc(100vh - var(--nav-bar-height));
}

/* Track */
::-webkit-scrollbar-track {
 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-tertiary);
  border-radius: 15pt;
}